{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks == None %}
                <p>"You have no tasks"</p>
            {% else %}
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks.Tasks %}
                        <tr>
                            <td>{{ user.task.name }}</td>
                            <td>{{ user.task.start_date }}</td>
                            <td>{{ user.task.due_date }}</td>
                            <td>{{ user.task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </main>
{% endblock content %}
