{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>{{ Project.name }}</h1>
            <p>{{ Project.desription }}</p>
            <h2>Tasks</h2>
            {% if tasks == None %}
                <p>"The project has no tasks"</p>
            {% else %}
                {{ project.tasks.all|length }}
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_list %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </main>
{% endblock content %}
