{% extends "base.html" %}

{% block content %}
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'create/' %}">Create</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if projects == None %}
                <p>"You are not assigned to any projects"</p>
            {% else %}
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in list_projects %}
                        <tr>
                            <td>{{ list_projects.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </main>
{% endblock content %}
